<form class="ui form" action="">
    {{reason}}
    <Input id="user-question" @type="text" @value={{@model._id}}/>
    <Input id="user-name" @type="text" @value={{@model.name}}/>
    <Input id="user-gender" @type="text" @value={{@model.gener}}/>
    <button class="ui green button"  {{ action "save"}} >save</button>
    <button class="ui button" {{action "cancel"}} >cancel</button>
    {{#if @model._id}}
        <button class="ui red button" {{action "remove"}} >delete</button>
    {{/if}}
</form>