<div class="ui container">
    <div class="ui grid">
            <div class="row">
                <h2 class="ui header" >store example</h2>
            </div>
            <div class="row" >
                <button type="button" class="ui button" {{on "click" (fn this.storeGet @model)}} >get</button>
                <button type="button" class="ui button" {{on "click" (fn this.storePost @model)}} >post</button>
                <button type="button" class="ui button" {{on "click" (fn this.storePut @model)}} >put</button>
                <button type="button" class="ui button" {{on "click" (fn this.storeDelete @model)}} >delete</button>
                <button type="button" class="ui button" {{on "click" (fn this.storeAjaxSuccess @model)}} >AjaxSuccess</button>
                <button type="button" class="ui button" {{on "click" (fn this.storeAjaxFail @model)}} >AjaxFail</button>
                <button type="button" class="ui button" {{on "click" this.errorRequest}} >errorRequest</button>
            </div>
            <div class="row">
                <div class="ui message" >
                    {{this.message}}
                </div>
                
            </div>
    </div>
</div>
