<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <h2>model example</h2>
        </div>
        <div class="row" >
            <button type="button" class="ui button" {{action "modelGet" @model}} >get</button>
            <button type="button" class="ui button" {{action "modelPost" @model}} >post</button>
            <button type="button" class="ui button" {{action "modelPut" @model}} >put</button>
            <button type="button" class="ui button" {{action "modelDelete" @model}} >delete</button>
            <button type="button" class="ui button" {{action "modelAjaxSuccess" @model}} >AjaxSuccess</button>
            <button type="button" class="ui button" {{action "modelAjaxFail" @model}} >AjaxFail</button>
        </div>
        <div class="row">
            <div class="ui message" >
                {{message}}
            </div>
        </div>
        <div class="row">
            <div class="ui items">
                {{#each @model as |item| }}
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                {{item.name}}
                            </div>
                            <div class="extra">
                                <button type="button" class="ui button" {{action "edit" item }} >edit</button>
                                <button type="button" class="ui button" {{action "remove" item }} >remove</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
