
<div class="ui container">

    <div class="ui grid">
        <div class="row" >
            <h4>model example</h4>
            <button class="ui button" {{action "modelGet" model}} >get</button>
            <button class="ui button" {{action "modelPost" model}} >post</button>
            <button class="ui button" {{action "modelPut" model}} >put</button>
            <button class="ui button" {{action "modelDelete" model}} >delete</button>
            <button class="ui button" {{action "modelAjaxSuccess" model}} >AjaxSuccess</button>
            <button class="ui button" {{action "modelAjaxFail" model}} >AjaxFail</button>
        </div>
        <div class="row">
            <div class="ui items" >
                {{#each model as |item| }}
                    <div class="item" >
                        <div class="content">
                            <div class="header">
                                {{item.name}}
                            </div>
                            <div class="extra">
                                <button class="ui button" {{action "edit" item }} >edit</button>
                                <button class="ui button" {{action "remove" item }} >remove</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>    
</div>
