<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <h2>model example</h2>
        </div>
        <div class="row" >
            <button type="button" class="ui button" {{on "click"  (fn this.modelGet @model)}} >get</button>
            <button type="button" class="ui button" {{on "click" (fn this.modelPost @model)}} >post</button>
            <button type="button" class="ui button" {{on "click" (fn this.modelPut @model)}} >put</button>
            <button type="button" class="ui button" {{on "click" (fn this.modelDelete @model)}} >delete</button>
            <button type="button" class="ui button" {{on "click" (fn this.modelAjaxSuccess @model)}} >AjaxSuccess</button>
            <button type="button" class="ui button" {{on "click" (fn this.modelAjaxFail @model)}} >AjaxFail</button>
        </div>
        <div class="row">
            <div class="ui message" >
                {{this.message}}
            </div>
        </div>
        <div class="row">
            <div class="ui items">
                {{#each @model as |item| }}
                    <div class="item">
                        <div class="content">
                            <div class="header">
                                {{item.name}}
                            </div>
                            <div class="extra">
                                <button type="button" class="ui button" {{on "click" (fn this.remove item) }} >remove</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
