<div class="ui container">
    <div class="ui grid">
        <div class="row">
            <button class="ui green button" type="button" {{action "add"}} >create</button>
        </div>
        <div class="row">
            {{#if modalShow}}
                <UserItem @model={{selectedItem}} @cancel={{action "cancel"}} @success={{action "success"}} @fail={{action "fail"}}></UserItem>
            {{/if}}
        </div>
        <div class="row">
            <div class="ui items" >
                {{#each model as |item| }}
                    <div class="item" >
                        <div class="content">
                            <div class="header">
                                {{item.name}}
                            </div>
                            <div class="extra">
                                <button class="ui button" type="button" {{action "edit" item }} >edit</button>
                                <button class="ui button" type="button" {{action "remove" item }} >remove</button>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

